.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  font-family: var(--font-mono);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  font-family: var(--font-mono);
}

.headerSlug {
  padding: 40px 10px 0px 10px;
}

.grid {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link:hover {
  text-decoration: underline;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  font-family: var(--font-mono);
  padding: 40px 0px 0px 40px;
}

.thirteen {
  padding: 16px 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 12s rotate linear infinite;
  width:100%;
  height:100%;
  /* width: 800px;
  height: 800px;
  left: 200px;
  top: -200px; */
  background: var(--tile-border);
}

.thirteen:hover::before {
  animation: 12s anti-rotate linear infinite;
}


@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Animation */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes anti-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
